* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-height: 100vh;
    max-width: 80%;
    margin: 5% auto;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 8fr 1fr;
}

#canvas_box {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

canvas {
    display: block;
    background: #000;
    width: 100%; border-radius: 5px;
} 

.generateTree {
    cursor: pointer;
    border: none;
    outline: none;
    position: absolute;
    bottom: 5%;
    z-index: 10;
    border-radius: 50px;
    background: white;
    left: 50%;
    transform: translate(-50%);
    padding: 10px 20px;
    font-size: 17px;
}

#create_tree_menu {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: blue;
}

#color-label1,  #color-label2{
    padding: 0.5em;
    height: 10%;
}

#color-slider1, #color-slider2 {
    padding: 1em 0;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.slider {
    border: solid 0.1em black;
    border-radius: 15px;
}

#create_tree_menu > div > div {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

#create_tree_menu > div > div > div {
    background-color: black;
    height: 1.1em;
    width: 1.1em;
    border-radius: 100%;
}

#buttons {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    background-color: red;
}

.generateTree:active {
    transform: translate(-50%, 2px);
}
