<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css')}}"
    />
  </head>
  <body>
    <main>
      <ul id="list-of-projects">
        <li>
          <a id="fractalTree" href="{{ url_for('fractalTree') }}">Fractal Tree</a>
        </li>
        <li>
          <a id="background" href="{{ url_for('background') }}">Floating Particles</a>
        </li>
        <li>
          <a id="Sneck" href="{{ url_for('snake') }}">Snake</a>
        </li>
      </ul>
    </main>
  </body>
</html>
